---
layout: archive
title: "Presentations"
permalink: /talks/
author_profile: true
---

<div style="width: 500; height: 488px; overflow: hidden; position: relative; margin: 0 auto;">
	<iframe src="/talkmap/map.html" height="650" width="100%" style="transform: scale(0.75); transform-origin: 0 0; border: none;"></iframe>
</div>

<h2><b><font color = 'orange'>Invited talks</font></b></h2><hr>

{% for post in site.talks reversed %}
  {% if post.talktype == 'invited' %}
      {% include archive-single-talk.html %}
  {% endif %}
{% endfor %}

<br>

<h2><b><font color = 'orange'>Contributed talks & poster presentations</font></b></h2><hr>

{% for post in site.talks reversed %}
  {% if post.talktype == 'contributed' %}
      {% include archive-single-talk.html %}
  {% endif %}
{% endfor %}

